// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui.scss";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui-pro/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

// temp fixes
@import "fixes";

// Spinkit
$spinkit-spinner-color: $body-color;
@import '~spinkit/scss/spinkit.scss';


//###########################################
//TELA DE LOGIN
//CONFIGURAÇÕES PERSONALIZADAS
//ANDERSON HENRIQUE GONÇALVES 15/04/2019
.botaoAzulBitflix {
    background: #054785;
    border: #366b9d solid 1px;
}
.espacoLogoCadastro{
    padding-bottom: 35px;
    padding-top: 30px;
}
.tituloLogin{
    padding-bottom: 25px;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #054785;
    border-color: #366b9d;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #366b9d;
    border-color: #6990b5;
  }

  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(65, 181, 222, 0.5);
  }

  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #054785;
    border-color: #366b9d;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #054785;
    border-color: #366b9d;
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(65, 181, 222, 0.5);
  }

  .btn-outline-light {
    color: #333;
    border-color: #e4e7ea;
  }

  .btn-outline-light:hover {
    color: #054785;
    background-color: #f0f3f5;
    border-color: #e4e7ea;
  }

  .btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
  }

  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #333;
    background-color: transparent;
  }

  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light.dropdown-toggle {
    color: #333;
    background-color: #f0f3f5;
    border-color: #e4e7ea;
  }

  .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
  }
  .card-group > .card {
    padding: 40px 15px;
}

.breadcrumb-item.active {
  color: #73818f;
  font-weight: bolder;
}


//TELA  FROMULÁRIO DE CADASTRO
.logoFormCadastro{
  padding: 10px 55px;
  margin: 0 50px;

}

//TELA DE CONTAS
.img-full70 {
  max-width: 70%;
  max-height: 150px;
  padding:10px;
  margin: 0 15%;

}
.nomeDuasLinhas{
  min-height: 20px;
  max-height: 40px;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imgConta{
  min-height: 150px;
  max-height: 150px;
}
.tituloVendas, .tituloAnuncios{
  vertical-align: super;
  font-size: smaller;
  text-align: center;
}
.valores{
  text-align: center;
}
.labelCard{
  font-size: smaller;
  color: #999;
}
.CardConta{
  max-width: 300px !important;
  min-width: 300px !important;
}
.botaoAdicionarConta{
  margin-left: 15px;
  margin-bottom: 15px;
}
.tituloAccordion{
  margin-top: 15px;
}

//#############################################
.app-header .navbar-brand{
  min-width: 200px !important;
  padding-left: 10px !important;
}

.mensagemAviso{
  margin-top: 30px !important;
  margin-bottom: 30px;
  padding:10px;
}

.tab10{
  width : 10%;
}

.tab15{
  width : 15%;
}

.tab20{
  width : 20%;
}
.tab50{
  width:50%;
}

.tab50{
  width:25%;
}

.textoSwitch{
  text-align: inherit;
  font-weight: bold;
}

.fullWidth{
  width: 100%;
}

.switch-slider{
  margin-top: 8px;
  vertical-align: middle;
}

//para resolver problemas de sobreposição de dropdown
.multiSelect{ z-index: 9999; }
.dropTipoComprador{
  z-index: 2;
}
.dropAbaixo2{ z-index: 3; }


Label {
  font-weight: bold;
}

.dropWidth{
  min-width: 100%;
  text-align: left;
}

// Resolve o problema dos indicadores de ordenação do Bootstrap Table
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.table {
  margin-bottom: 0px !important;
  
}

.filtro{
  margin-bottom: 10px;
}


.labelAtualiza{
  position: absolute;
  margin-top: 10px;
}

// Resolve o problema dos indicadores de ordenação do Bootstrap Table


.spinnerStyle {
  flex: 1;
  margin-top : 10%;
  margin-left: 50%;
  margin-bottom: 10%;
  width: 200px;
}

.spinnerStyleMini {
  flex: 1;
  margin-left: 85%;
}
.spinnerStyleMiniCenter {
  flex: 1;
  margin-left: 50%;
}

.center{
  width: 100%;
  text-align: center;
}
//################################################################
//COMPONENTE DATATABLE PARA BLOQUEIO EM Massa
.itsa-table {
    .pure-table {
        &.pure-table-striped tr:nth-child(2n-1) td.itsa-table-rowheader,
        td.itsa-table-rowheader {
            background-color: #E0E0E0;
            border-top: 1px solid #CBCBCB;
            font-weight: bold;
        }
        td.itsa-table-editable-cell {
            padding: 0;
        }
        textarea {
            padding: 0.5em 1em;
            padding-top: calc(0.5em - 2px);
            padding-left: calc(1em - 1px);

            &[disabled] {
                cursor: not-allowed;
                background-color: #eaeded;
                color: #cad2d3;
            }
        }
        textarea:focus {
            outline: thin solid #129FEA;
            outline: 1px auto #129FEA;
        }
    }
}

//#################################################
//largura de colunas para tabelas
.tbcol-50{
  width: 50%;
}

.tbcol-40{
  width: 40%;
}

.tbcol-30{
  width: 30%;
}

.tbcol-20{
  width: 20%;
}

.tbcol-15{
  width: 15%;
}

.tbcol-10{
  width: 10%;
}

.tbcol-5{
  width: 5%;
}

//##############################################################3
//Iframe Home
.iframeHome{
  margin:0px;
  position:absolute;
  top:50px;
  left:10%;
  right:50px;
  bottom:-50px;
}
.app-footer{
  z-index: 1;
  position: fixed;
  height: 50px;
  left:0px;
  right:0px;
  bottom:0px;
}
.breadcrumb{
  z-index: 8;
  position: relative;
  height: 50px;
  left:0px;
  right:0px;
  top:0px;
}
.app-header{
  z-index: 9999;
}
.main .container-fluid {
  padding: 0 30px;
  padding-bottom: 50px;
}

//###############################
.listaProcessos{
  border-radius: 0.25rem;
  border-color: #cecece;
}
.divListaProcessos{
  padding: 0.25rem 1rem;
  color: #336573;
  border-color: #cecece;
}
.divListaProcessos a{
  color: #336573 !important;
}
.timeStamp{
  text-align: right;
}
.subItensProcessos{
  font-size: 12px;
  color:#336573;
  padding: 0.5rem;
}
.listaSubItem{
  margin-bottom: 0.5rem;
  list-style-type: none;
}
.tituloProcessos{
  font-weight: bold;
  color:#336573;
  font-size: 14px;
}

.headerListaProcessos{
  outline:none;
  color:#336573;
}
.redBall{
  color:red;
}
.greenBall{
  color:green;
}
.idApelido{
  padding-bottom: 8px !important;
}


